@font-face { font-family: Open Sans Bold; font-weight: bold; src: url("fonts/OpenSans-Bold.ttf"); };
@font-face { font-family: Open Sans; font-weight: 300; src: url("fonts/OpenSans-Regular.ttf"); };

body { 
width: 100%; 
margin: auto; 

}

.container { 
width: 800px; 
margin: auto; 
font-family: Open Sans, helvetica, arial, sans-serif;

}

.header {
	height:60px;
	width:500px;
	float:left;
	text-indent: -10000px;
}
.nav {
	height:50px;
	width:100px;
	float:left;
	padding-top: 20px;
}
.nav a {
	color:#01a875;
	text-decoration: none; 
	border-bottom: 1px dotted #01a875;
}

.nav a:hover {
	color:#000000;
	border-bottom: 1px dotted #f15b22;
	text-decoration: none; 
}


#logo {
background: #FFF url(images/logo.png) no-repeat;
height: 50px;
}
#logo a {
 }
 
.left {
	background-color:#FFF;
	float: left;
    height: 550px;
    width:395px;
	padding-left: 5px;
}

.right {
	background-color:#FFF;
	float: left;
    height: 550px;
    width: 395px;
	padding-left: 5px;
}

h2 { 
font-family: Open Sans Bold, Helvetica, Arial, sans-serif;
font-size: 18px;
font-weight: bold; 
line-height: 0.8em;

}


h3 { 
font-family: Open Sans Bold, Helvetica, Arial, sans-serif;
font-size: 16px;
font-weight: bold; 
line-height: 0.8em;
width: 90%;
border-bottom: 3px solid #55BF9C; 
}

.submit {
  border: 1px solid #777777;
  background: #01a875;
  position: relative; 
  color: white;
  font-family: Open Sans, Helvetica, Arial, sans-serif;  
  padding: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

.submit:hover {
  background: #396;
}

.large { 
font-size: 36pt; 
}
.small { 
font-size: 14pt; 
}

input { 
margin-bottom: 5px; 
padding: 2px; 

}
