 <head>
 <title>Room2 Control Interface</title>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
 <script>

	var prefs;
	$(document).ready(function() {
		prefs = new Array();
		for (var i =0; i < 5; i++) {
			prefs[i] = 0;
		}
		refreshPrefs();
		$('#light').bind('click', function() {
			click(1);
		});
		$('#temp').click(function() {
			click(2);
		});
		$('#projector').click(function() {
			click(3);
		});
		$('#blinds').click(function() {
			click(4);
		});
		$('#whiteboard').click(function() {
			click(5);
		});
	});
 
	function click(id) {
		switch (id) {
			case 0:
				if (prefs[0] == 0) {
					$('#light').attr('src', 'images/lighton.png');
					$('#light').attr('onmousedown', "$(this).attr('src', 'images/lighton_pressed.png')");
					$('#light').attr('onmouseup', "$(this).attr('src', 'images/light.png')");
					prefs[0] = 1;
					console.log(prefs[0]);
				} else {
					$('#light').attr('src', 'images/light.png');
					$('#light').attr('onmousedown', "$(this).attr('src', 'images/light_pressed.png')");
					$('#light').attr('onmouseup', "$(this).attr('src', 'images/lighton.png')");
					prefs[0] = 0;
				}
				break;
			case 2:
				$('#temp').attr('src', 'images/templow_pressed.png');
				break;
			case 3:
				$('#projector').attr('src', 'images/projector_pressed.png');
				break;
			case 4:
				$('#blinds').attr('src', 'images/blinds_pressed.png');
				break;
			case 5:
				$('#whiteboard').attr('src', 'images/whiteboard_pressed.png');
				break;
		}
	}
	
	function refreshPrefs() {
		var d = '{"room2":{"object_id":1,"action":"GET_DATA","data":{"Light1_Pref":1,"Light2_Pref":1, "Window_Pref":1, "Projector1_Pref":1, "Projector2_Pref":1, "Lock_Pref":1, "Room_temp_Pref":60}}}'
		//var d = '{"room2": {"object_id": 1,"action":"GET_ALL_PREFS","data":{"user": "user" }}}';
		$.ajax({
			type: 'POST',
			xhrFields: {
				withCredentials: true
			},
			data: d,
			contentType:"text/plain",
			url: "http://cmu-389815.andrew.cmu.edu:8080/room",
			success: function(data, textStatus, xhr) {
				var d = data + " " + textStatus + " " + xhr.status;
				$('#buf').html(d);
			},
			complete: function(xhr, data) {
				console.log(data);
			},
			error: function(xhr, status, error) {
				console.log("could not process request");
				$('#err').html(xhr.status + " " + status + " " + error);
			}
		});
		
		/*
		var xmlHttp = new XMLHttpRequest();
		xmlHttp.open("POST", "http://cmu-389815.andrew.cmu.edu:8080/room", true);
		var data = {
			"room2" : {
				"object_id": 7,
				"action":"GET_ALL_PREFS",
				"data":{
					"user":"user"
				}
			}
		}
		var params = JSON.stringify(data);
		console.log(xmlHttp);
		xmlHttp.onreadystatechange = function() {
			var status = xmlHttp.readyState + " " + xmlHttp.status + " " + xmlHttp.statusText;
			$('#buf').html(status);
			if (xmlHttp.readyState == 4 && xmlHttp.status == 200) {
				//$('#buf').html(xmlHttp.responseText);
				console.log(xmlHttp.responseText);
			}
		}
		xmlHttp.onerror = function() {
			console.log("damn...");
		}
		
		xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xmlHttp.setRequestHeader("Content-length", params.length);
		//console.log(params);
		xmlHttp.send(params);
		console.log("Text: " + xmlHttp.responseText);
		console.log(xmlHttp.readyState);
		*/
	}
	
	
	
 </script>
 <style>
	.btn {
		width: 200px;
		height: 200px;
		margin: 0;
		padding: 0;
	}

	#header {
		width:auto;
		height:auto;
		background-color: #ff8244;
	}
	div.txt {
		height:75px;
		line-height:75px;
	}
	div#header {
		font-family: "Arial Black"
	}
	div#control {
		font-family: "Arial"
	}
 </style>
 </head>
 <body>
	<div id="header">
		<p class="padding-left: 20px">Room2 Control Panel</p>
	</div>
	<div id="control">
		<input type="image" src="images/light.png" class="btn" value="wut"
		onmousedown="$(this).attr('src', 'images/light_pressed.png')" 
		onmouseup="$(this).attr('src', 'images/lighton_pressed.png')" />
		<input type="image" src="images/templow.png" class="btn" value="wut"
		onmousedown="$(this).attr('src', 'images/templow_pressed.png')" 
		onmouseup="$(this).attr('src', 'images/templow.png')" /> <br />
		<input type="image" src="images/projector.png" class="btn" value="wut"
		onmousedown="$(this).attr('src', 'images/projector_pressed.png')" 
		onmouseup="$(this).attr('src', 'images/projector.png')" />
		<input type="image" src="images/blinds.png" class="btn" value="wut"
		onmousedown="$(this).attr('src', 'images/blinds_pressed.png')" 
		onmouseup="$(this).attr('src', 'images/blinds.png')" />
		<input type="image" src="images/whiteboard.png" class="btn" value="wut"
		onmousedown="$(this).attr('src', 'images/whiteboard_pressed.png')" 
		onmouseup="$(this).attr('src', 'images/whiteboard.png')" />
	</div>
	<p id="buf"></p>
	<p id="succ"></p>
	<p id="err"></p>
</body>
 